# Web app framework
streamlit

# Data manipulation and numerical computations
pandas
numpy

# Data visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost
joblib

# Statistical analysis
statsmodels

# MLflow for experiment tracking
mlflow

# Miscellaneous
pickle-mixin
bcrypt
