# Streamlit app dependencies
streamlit
pandas
pickle-mixin  # To work with pickled objects
bcrypt
os-sys  # Provides access to miscellaneous operating system interfaces

# Notebook dependencies
numpy
matplotlib
seaborn
plotly
scikit-learn
xgboost
joblib
statsmodels
mlflow
